@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
html{
            margin: 0;
            padding: 0;
            width: 100%;
}
body{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-image: url(bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
}
.nav{
            position: absolute;
            left: 50%;
            top: 2%;
}         
.nav ul{
            list-style: none;
}         
.nav ul li{
            list-style: none;
            display: inline-block;
            color: white;
            font-size: 20px;
            font-family: sans-serif;
            padding: 10px 50px;
            font-weight: bold;
}
.active{
            color: white;
            background-color: #e02626;
            border-radius: 5px;
}
.header{
            text-align: center;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
}
.header h1{
            color: white;
            font-family: 'Pinyon Script', cursive;
            font-size: 135px;
}
span{
            color: #e02626;
}
.tagline{
            text-align: center;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
}
.tagline p{
            color: white;
            font-size: 40px;
  font-family: 'Pinyon Script', cursive;
}
.dwon{
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
}
.dwon img{
            width: 80px;
}
